# Zomato Exercise

DEL ROSARIO, JAVIER

References: 

https://www.askpython.com/python-modules/pandas/combine-csv-files-using-python
https://stackoverflow.com/questions/48590268/pandas-get-the-most-frequent-values-of-a-column/48590361
https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [6]:
%pip install pandas
import pandas as pd
import numpy as np

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Installing collected packages: pandas
Successfully installed pandas-2.2.3

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [9]:
zomato_df = pd.read_csv('zomato.csv')
location_df = pd.read_csv('location.csv')
ratings_df = pd.read_csv('ratings.csv')

merged_df = zomato_df.merge(location_df, on='id', how='inner').merge(ratings_df, on='id', how='inner')

In [11]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [22]:
def exercise_2(merged_df):
    avg_rating = merged_df.groupby('city')['aggregate_rating'].mean()
    print(avg_rating)
    return avg_rating

In [23]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

city
Caloocan City       1.953509
Las Piñas City      2.855738
Makati City         3.250512
Malabon City        1.558333
Mandaluyong City    2.951919
Manila              2.842652
Marikina City       2.672512
Muntinlupa City     2.962682
Parañaque City      3.130100
Pasay City          3.302075
Pasig City          2.916086
Pateros City        1.740000
Quezon City         2.887946
San Juan City       3.098462
Tagaytay City       2.959259
Taguig City         3.234105
Valenzuela City     1.890741
Name: aggregate_rating, dtype: float64

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [25]:
rating_map = {
    'Excellent': 5,
    'Very Good': 4,
    'Good': 3,
    'Average': 2,
    'Poor': 1,
    'Not rated': 0
}

rating_numeric = merged_df.apply(lambda x: rating_map[x.rating_text], axis=1)

merged_df = merged_df.assign(rating_numeric=rating_numeric)

In [26]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [33]:
def exercise_4(merged_df, city):
    filtered_df = merged_df[merged_df.city == city]
    print(filtered_df)
    return filtered_df

In [35]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

            id  average_cost_for_two book_url                   cuisines  \
0      6316125                  1000      NaN            Japanese, Ramen
1     18409457                  1300      NaN  Korean, Grill, Korean BBQ
2      6307689                  1600      NaN         American, Filipino
7      6304287                  1200      NaN                   Japanese
10     6304833                   700      NaN                   Filipino
...        ...                   ...      ...                        ...
6598  18303726                   700      NaN     Healthy Food, Japanese
6753   6301694                  1200      NaN                   Filipino
6758  18351649                  1100      NaN                Finger Food
6815   6317082                   500      NaN                 Vietnamese
6817  18340454                   500      NaN                 Vietnamese

     currency                      deeplink  \
0           P   zomato://restaurant/6316125
1           P  zomato://restaurant/18409457
2           P   zomato://restaurant/6307689
7           P   zomato://restaurant/6304287
10          P   zomato://restaurant/6304833
...       ...                           ...
6598        P  zomato://restaurant/18303726
6753        P   zomato://restaurant/6301694
6758        P  zomato://restaurant/18351649
6815        P   zomato://restaurant/6317082
6817        P  zomato://restaurant/18340454

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
7     https://www.zomato.com/manila/izakaya-kikufuji...
10    https://www.zomato.com/manila/manam-greenbelt-...
...                                                 ...
6598  https://www.zomato.com/manila/uniquease-valenz...
6753  https://www.zomato.com/manila/xo-46-new-visaya...
6758  https://www.zomato.com/manila/pappy-bistro-leg...
6815  https://www.zomato.com/manila/jam-viet-sandwic...
6817  https://www.zomato.com/manila/jam-viet-sandwic...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
7     https://b.zmtcdn.com/data/res_imagery/6304287_...                    0
10    https://b.zmtcdn.com/data/pictures/chains/3/63...                    0
...                                                 ...                  ...
6598                                                NaN                    0
6753  https://b.zmtcdn.com/data/reviews_photos/a1d/f...                    0
6758  https://b.zmtcdn.com/data/res_imagery/18351649...                    0
6815  https://b.zmtcdn.com/data/reviews_photos/e9d/e...                    0
6817  https://b.zmtcdn.com/data/reviews_photos/e9d/e...                    0

      has_table_booking  ...   latitude  \
0                     0  ...  14.560313
1                     0  ...  14.552137
2                     0  ...  14.563144
7                     0  ...  14.553708
10                    0  ...  14.551920
...                 ...  ...        ...
6598                  0  ...  14.571504
6753                  0  ...  14.558378
6758                  0  ...  14.557238
6815                  0  ...  14.568501
6817                  0  ...  14.564902

                                        locality  \
0                                Salcedo Village
1          Greenbelt 3, San Lorenzo, Makati City
2                                      Poblacion
7     Little Tokyo, Legaspi Village, Makati City
10         Greenbelt 2, San Lorenzo, Makati City
...                                          ...
6598                                  Valenzuela
6753                             Salcedo Village
6758                             Legaspi Village
6815                                  Santa Cruz
6817                                     Palanan

                                       locality_verbose   longitude  zipcode  \
0                          Salcedo Village, Makati City  121.024638      NaN
1     Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325      NaN
2                                Poblacion, Makati City  121.029800   1210.0
7     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101      NaN
10    Greenbelt 2, San Lorenzo, Makati City, Makati ...  121.020485      NaN
...                                                 ...         ...      ...
6598                            Valenzuela, Makati City  121.024976      NaN
6753                       Salcedo Village, Makati City  121.022078      NaN
6758                       Legaspi Village, Makati City  121.016854      NaN
6815                            Santa Cruz, Makati City  121.013978      NaN
6817                               Palanan, Makati City  121.002089      NaN

     aggregate_rating rating_color rating_text votes  rating_numeric
0                 4.9       3F7E00   Excellent  1394               5
1                 4.6       3F7E00   Excellent   602               5
2                 4.0       5BA829   Very Good   563               4
7                 4.5       3F7E00   Excellent  1031               5
10                4.5       3F7E00   Excellent   700               5
...               ...          ...         ...   ...             ...
6598              0.0       CBCBC8   Not rated     3               0
6753              3.2       CDD614     Average    15               2
6758              3.1       CDD614     Average    13               2
6815              3.5       9ACD32        Good    30               3
6817              3.4       CDD614     Average    16               2

[976 rows x 36 columns]
            id  average_cost_for_two book_url                   cuisines  \
0      6316125                  1000      NaN            Japanese, Ramen
1     18409457                  1300      NaN  Korean, Grill, Korean BBQ
2      6307689                  1600      NaN         American, Filipino
7      6304287                  1200      NaN                   Japanese
10     6304833                   700      NaN                   Filipino
...        ...                   ...      ...                        ...
6598  18303726                   700      NaN     Healthy Food, Japanese
6753   6301694                  1200      NaN                   Filipino
6758  18351649                  1100      NaN                Finger Food
6815   6317082                   500      NaN                 Vietnamese
6817  18340454                   500      NaN                 Vietnamese

     currency                      deeplink  \
0           P   zomato://restaurant/6316125
1           P  zomato://restaurant/18409457
2           P   zomato://restaurant/6307689
7           P   zomato://restaurant/6304287
10          P   zomato://restaurant/6304833
...       ...                           ...
6598        P  zomato://restaurant/18303726
6753        P   zomato://restaurant/6301694
6758        P  zomato://restaurant/18351649
6815        P   zomato://restaurant/6317082
6817        P  zomato://restaurant/18340454

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
7     https://www.zomato.com/manila/izakaya-kikufuji...
10    https://www.zomato.com/manila/manam-greenbelt-...
...                                                 ...
6598  https://www.zomato.com/manila/uniquease-valenz...
6753  https://www.zomato.com/manila/xo-46-new-visaya...
6758  https://www.zomato.com/manila/pappy-bistro-leg...
6815  https://www.zomato.com/manila/jam-viet-sandwic...
6817  https://www.zomato.com/manila/jam-viet-sandwic...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
7     https://b.zmtcdn.com/data/res_imagery/6304287_...                    0
10    https://b.zmtcdn.com/data/pictures/chains/3/63...                    0
...                                                 ...                  ...
6598                                                NaN                    0
6753  https://b.zmtcdn.com/data/reviews_photos/a1d/f...                    0
6758  https://b.zmtcdn.com/data/res_imagery/18351649...                    0
6815  https://b.zmtcdn.com/data/reviews_photos/e9d/e...                    0
6817  https://b.zmtcdn.com/data/reviews_photos/e9d/e...                    0

      has_table_booking  ...   latitude  \
0                     0  ...  14.560313
1                     0  ...  14.552137
2                     0  ...  14.563144
7                     0  ...  14.553708
10                    0  ...  14.551920
...                 ...  ...        ...
6598                  0  ...  14.571504
6753                  0  ...  14.558378
6758                  0  ...  14.557238
6815                  0  ...  14.568501
6817                  0  ...  14.564902

                                        locality  \
0                                Salcedo Village
1          Greenbelt 3, San Lorenzo, Makati City
2                                      Poblacion
7     Little Tokyo, Legaspi Village, Makati City
10         Greenbelt 2, San Lorenzo, Makati City
...                                          ...
6598                                  Valenzuela
6753                             Salcedo Village
6758                             Legaspi Village
6815                                  Santa Cruz
6817                                     Palanan

                                       locality_verbose   longitude  zipcode  \
0                          Salcedo Village, Makati City  121.024638      NaN
1     Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325      NaN
2                                Poblacion, Makati City  121.029800   1210.0
7     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101      NaN
10    Greenbelt 2, San Lorenzo, Makati City, Makati ...  121.020485      NaN
...                                                 ...         ...      ...
6598                            Valenzuela, Makati City  121.024976      NaN
6753                       Salcedo Village, Makati City  121.022078      NaN
6758                       Legaspi Village, Makati City  121.016854      NaN
6815                            Santa Cruz, Makati City  121.013978      NaN
6817                               Palanan, Makati City  121.002089      NaN

     aggregate_rating rating_color rating_text votes  rating_numeric
0                 4.9       3F7E00   Excellent  1394               5
1                 4.6       3F7E00   Excellent   602               5
2                 4.0       5BA829   Very Good   563               4
7                 4.5       3F7E00   Excellent  1031               5
10                4.5       3F7E00   Excellent   700               5
...               ...          ...         ...   ...             ...
6598              0.0       CBCBC8   Not rated     3               0
6753              3.2       CDD614     Average    15               2
6758              3.1       CDD614     Average    13               2
6815              3.5       9ACD32        Good    30               3
6817              3.4       CDD614     Average    16               2

[976 rows x 36 columns]
            id  average_cost_for_two book_url             cuisines currency  \
11     6318506                  1500      NaN      Japanese, Sushi        P
13     6314302                  1776      NaN     Japanese, Korean        P
15    18189371                  1000      NaN              Chinese        P
18     6314111                  1200      NaN      Japanese, Ramen        P
43     6315846                   800      NaN             American        P
...        ...                   ...      ...                  ...      ...
6193   6303082                   250      NaN  Desserts, Ice Cream        P
6194  18653131                   500      NaN         Healthy Food        P
6195  18518835                   200      NaN    Juices, Beverages        P
6196  18648009                   500      NaN               Coffee        P
6801  18541072                   850      NaN         Healthy Food        P

                          deeplink  \
11     zomato://restaurant/6318506
13     zomato://restaurant/6314302
15    zomato://restaurant/18189371
18     zomato://restaurant/6314111
43     zomato://restaurant/6315846
...                            ...
6193   zomato://restaurant/6303082
6194  zomato://restaurant/18653131
6195  zomato://restaurant/18518835
6196  zomato://restaurant/18648009
6801  zomato://restaurant/18541072

                                             events_url  \
11    https://www.zomato.com/manila/ooma-ortigas-man...
13    https://www.zomato.com/manila/sambo-kojin-orti...
15    https://www.zomato.com/manila/din-tai-fung-ort...
18    https://www.zomato.com/manila/ippudo-ortigas-m...
43    https://www.zomato.com/manila/frankie-s-new-yo...
...                                                 ...
6193  https://www.zomato.com/manila/dippin-dots-2-or...
6194  https://www.zomato.com/manila/bowld-ortigas-ma...
6195  https://www.zomato.com/manila/big-chill-2-orti...
6196  https://www.zomato.com/manila/coffee-bean-tea-...
6801  https://www.zomato.com/manila/saladstop-ortiga...

                                         featured_image  has_online_delivery  \
11    https://b.zmtcdn.com/data/res_imagery/6318506_...                    0
13    https://b.zmtcdn.com/data/pictures/chains/1/63...                    0
15    https://b.zmtcdn.com/data/res_imagery/18189371...                    0
18    https://b.zmtcdn.com/data/pictures/chains/1/63...                    0
43    https://b.zmtcdn.com/data/res_imagery/6315846_...                    0
...                                                 ...                  ...
6193  https://b.zmtcdn.com/data/pictures/chains/6/63...                    0
6194                                                NaN                    0
6195  https://b.zmtcdn.com/data/res_imagery/6300445_...                    0
6196  https://b.zmtcdn.com/data/pictures/chains/1/63...                    0
6801  https://b.zmtcdn.com/data/res_imagery/6316583_...                    0

      has_table_booking  ...   latitude  \
11                    0  ...  14.583873
13                    0  ...  14.584386
15                    0  ...  14.583723
18                    0  ...  14.583244
43                    0  ...  14.583243
...                 ...  ...        ...
6193                  0  ...  14.584815
6194                  0  ...  14.584346
6195                  0  ...  14.584778
6196                  0  ...  14.585845
6801                  0  ...  14.583800

                                    locality  \
11    SM Megamall, Ortigas, Mandaluyong City
13    SM Megamall, Ortigas, Mandaluyong City
15    SM Megamall, Ortigas, Mandaluyong City
18    SM Megamall, Ortigas, Mandaluyong City
43    SM Megamall, Ortigas, Mandaluyong City
...                                      ...
6193   The Podium, Ortigas, Mandaluyong City
6194   The Podium, Ortigas, Mandaluyong City
6195   The Podium, Ortigas, Mandaluyong City
6196   The Podium, Ortigas, Mandaluyong City
6801  SM Megamall, Ortigas, Mandaluyong City

                                       locality_verbose   longitude  zipcode  \
11    SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056168      NaN
13    SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056983      NaN
15    SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056161      NaN
18    SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.055956      NaN
43    SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.055954      NaN
...                                                 ...         ...      ...
6193  The Podium, Ortigas, Mandaluyong City, Mandalu...  121.058888      NaN
6194  The Podium, Ortigas, Mandaluyong City, Mandalu...  121.060204      NaN
6195  The Podium, Ortigas, Mandaluyong City, Mandalu...  121.058898      NaN
6196  The Podium, Ortigas, Mandaluyong City, Mandalu...  121.059284      NaN
6801  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056113      NaN

     aggregate_rating rating_color rating_text votes  rating_numeric
11                4.8       3F7E00   Excellent   762               5
13                4.7       3F7E00   Excellent   570               5
15                4.6       3F7E00   Excellent   657               5
18                4.6       3F7E00   Excellent   939               5
43                4.4       5BA829   Very Good   575               4
...               ...          ...         ...   ...             ...
6193              3.2       CDD614     Average     8               2
6194              0.0       CBCBC8   Not rated     2               0
6195              3.1       CDD614     Average     4               2
6196              0.0       CBCBC8   Not rated     2               0
6801              3.7       9ACD32        Good    40               3

[443 rows x 36 columns]
            id  average_cost_for_two book_url             cuisines currency  \
11     6318506                  1500      NaN      Japanese, Sushi        P
13     6314302                  1776      NaN     Japanese, Korean        P
15    18189371                  1000      NaN              Chinese        P
18     6314111                  1200      NaN      Japanese, Ramen        P
43     6315846                   800      NaN             American        P
...        ...                   ...      ...                  ...      ...
6193   6303082                   250      NaN  Desserts, Ice Cream        P
6194  18653131                   500      NaN         Healthy Food        P
6195  18518835                   200      NaN    Juices, Beverages        P
6196  18648009                   500      NaN               Coffee        P
6801  18541072                   850      NaN         Healthy Food        P

                          deeplink  \
11     zomato://restaurant/6318506
13     zomato://restaurant/6314302
15    zomato://restaurant/18189371
18     zomato://restaurant/6314111
43     zomato://restaurant/6315846
...                            ...
6193   zomato://restaurant/6303082
6194  zomato://restaurant/18653131
6195  zomato://restaurant/18518835
6196  zomato://restaurant/18648009
6801  zomato://restaurant/18541072

                                             events_url  \
11    https://www.zomato.com/manila/ooma-ortigas-man...
13    https://www.zomato.com/manila/sambo-kojin-orti...
15    https://www.zomato.com/manila/din-tai-fung-ort...
18    https://www.zomato.com/manila/ippudo-ortigas-m...
43    https://www.zomato.com/manila/frankie-s-new-yo...
...                                                 ...
6193  https://www.zomato.com/manila/dippin-dots-2-or...
6194  https://www.zomato.com/manila/bowld-ortigas-ma...
6195  https://www.zomato.com/manila/big-chill-2-orti...
6196  https://www.zomato.com/manila/coffee-bean-tea-...
6801  https://www.zomato.com/manila/saladstop-ortiga...

                                         featured_image  has_online_delivery  \
11    https://b.zmtcdn.com/data/res_imagery/6318506_...                    0
13    https://b.zmtcdn.com/data/pictures/chains/1/63...                    0
15    https://b.zmtcdn.com/data/res_imagery/18189371...                    0
18    https://b.zmtcdn.com/data/pictures/chains/1/63...                    0
43    https://b.zmtcdn.com/data/res_imagery/6315846_...                    0

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [42]:
def exercise_5(merged_df, cols_to_filter):
    filtered_df = merged_df[cols_to_filter]
    print(filtered_df)
    return filtered_df

In [44]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

                           name                                    cuisines  \
0             Mendokoro Ramenba                             Japanese, Ramen
1            Soban K-Town Grill                   Korean, Grill, Korean BBQ
2               Filling Station                          American, Filipino
3                Romantic Baboy                                      Korean
4                NIU by Vikings  Seafood, American, Mediterranean, Japanese
...                         ...                                         ...
6825              Trader Juan's                              Deli, Filipino
6826                   Jollibee                                   Fast Food
6827                 Goldilocks                            Bakery, Filipino
6828  Red Buffalo Wings & Pizza                           American, Italian
6829                  Greenwich                            Pizza, Fast Food

                 city  aggregate_rating
0         Makati City               4.9
1         Makati City               4.6
2         Makati City               4.0
3         Quezon City               4.0
4         Taguig City               4.6
...               ...               ...
6825  Muntinlupa City               2.9
6826    Caloocan City               3.0
6827    Caloocan City               0.0
6828      Quezon City               3.7
6829    Caloocan City               0.0

[6830 rows x 4 columns]
                           name                                    cuisines  \
0             Mendokoro Ramenba                             Japanese, Ramen
1            Soban K-Town Grill                   Korean, Grill, Korean BBQ
2               Filling Station                          American, Filipino
3                Romantic Baboy                                      Korean
4                NIU by Vikings  Seafood, American, Mediterranean, Japanese
...                         ...                                         ...
6825              Trader Juan's                              Deli, Filipino
6826                   Jollibee                                   Fast Food
6827                 Goldilocks                            Bakery, Filipino
6828  Red Buffalo Wings & Pizza                           American, Italian
6829                  Greenwich                            Pizza, Fast Food

                 city  aggregate_rating
0         Makati City               4.9
1         Makati City               4.6
2         Makati City               4.0
3         Quezon City               4.0
4         Taguig City               4.6
...               ...               ...
6825  Muntinlupa City               2.9
6826    Caloocan City               3.0
6827    Caloocan City               0.0
6828      Quezon City               3.7
6829    Caloocan City               0.0

[6830 rows x 4 columns]
      average_cost_for_two book_url  \
0                     1000      NaN
1                     1300      NaN
2                     1600      NaN
3                     1000      NaN
4                     3000      NaN
...                    ...      ...
6825                  1000      NaN
6826                   400      NaN
6827                   450      NaN
6828                  1000      NaN
6829                   600      NaN

                                        cuisines currency  \
0                                Japanese, Ramen        P
1                      Korean, Grill, Korean BBQ        P
2                             American, Filipino        P
3                                         Korean        P
4     Seafood, American, Mediterranean, Japanese        P
...                                          ...      ...
6825                              Deli, Filipino        P
6826                                   Fast Food        P
6827                            Bakery, Filipino        P
6828                           American, Italian        P
6829                            Pizza, Fast Food        P

                          deeplink  \
0      zomato://restaurant/6316125
1     zomato://restaurant/18409457
2      zomato://restaurant/6307689
3     zomato://restaurant/18581637
4      zomato://restaurant/6315438
...                            ...
6825  zomato://restaurant/18635649
6826   zomato://restaurant/6318581
6827   zomato://restaurant/6318578
6828   zomato://restaurant/6309612
6829   zomato://restaurant/6318582

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
3     https://www.zomato.com/manila/romantic-baboy-t...
4     https://www.zomato.com/manila/niu-by-vikings-b...
...                                                 ...
6825  https://www.zomato.com/manila/trader-juans-fil...
6826  https://www.zomato.com/manila/jollibee-north-c...
6827  https://www.zomato.com/manila/goldilocks-north...
6828  https://www.zomato.com/manila/red-buffalo-wing...
6829  https://www.zomato.com/manila/greenwich-north-...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
3     https://b.zmtcdn.com/data/reviews_photos/cc1/a...                    0
4     https://b.zmtcdn.com/data/pictures/chains/8/63...                    0
...                                                 ...                  ...
6825                                                NaN                    0
6826  http://b.zmtcdn.com/data/pictures/chains/0/630...                    0
6827  https://b.zmtcdn.com/data/res_imagery/6300003_...                    0
6828  https://b.zmtcdn.com/data/res_imagery/6309612_...                    0
6829  https://b.zmtcdn.com/data/pictures/chains/2/63...                    0

      has_table_booking  include_bogo_offers  is_book_form_web_view
0                     0                 True                    0.0
1                     0                 True                    0.0
2                     0                 True                    0.0
3                     0                 True                    0.0
4                     0                 True                    0.0
...                 ...                  ...                    ...
6825                  0                 True                    0.0
6826                  0                 True                    0.0
6827                  0                 True                    0.0
6828                  0                 True                    0.0
6829                  0                 True                    0.0

[6830 rows x 11 columns]
      average_cost_for_two book_url  \
0                     1000      NaN
1                     1300      NaN
2                     1600      NaN
3                     1000      NaN
4                     3000      NaN
...                    ...      ...
6825                  1000      NaN
6826                   400      NaN
6827                   450      NaN
6828                  1000      NaN
6829                   600      NaN

                                        cuisines currency  \
0                                Japanese, Ramen        P
1                      Korean, Grill, Korean BBQ        P
2                             American, Filipino        P
3                                         Korean        P
4     Seafood, American, Mediterranean, Japanese        P
...                                          ...      ...
6825                              Deli, Filipino        P
6826                                   Fast Food        P
6827                            Bakery, Filipino        P
6828                           American, Italian        P
6829                            Pizza, Fast Food        P

                          deeplink  \
0      zomato://restaurant/6316125
1     zomato://restaurant/18409457
2      zomato://restaurant/6307689
3     zomato://restaurant/18581637
4      zomato://restaurant/6315438
...                            ...
6825  zomato://restaurant/18635649
6826   zomato://restaurant/6318581
6827   zomato://restaurant/6318578
6828   zomato://restaurant/6309612
6829   zomato://restaurant/6318582

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
3     https://www.zomato.com/manila/romantic-baboy-t...
4     https://www.zomato.com/manila/niu-by-vikings-b...
...                                                 ...
6825  https://www.zomato.com/manila/trader-juans-fil...
6826  https://www.zomato.com/manila/jollibee-north-c...
6827  https://www.zomato.com/manila/goldilocks-north...
6828  https://www.zomato.com/manila/red-buffalo-wing...
6829  https://www.zomato.com/manila/greenwich-north-...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
3     https://b.zmtcdn.com/data/reviews_photos/cc1/a...                    0
4     https://b.zmtcdn.com/data/pictures/chains/8/63...                    0
...                                                 ...                  ...
6825                                                NaN                    0
6826  http://b.zmtcdn.com/data/pictures/chains/0/630...                    0
6827  https://b.zmtcdn.com/data/res_imagery/6300003_...                    0
6828  https://b.zmtcdn.com/data/res_imagery/6309612_...                    0
6829  https://b.zmtcdn.com/data/pictures/chains/2/63...                    0

      has_table_booking  include_bogo_offers  is_book_form_web_view
0                     0                 True                    0.0
1                     0                 True                    0.0
2                     0                 True                    0.0
3                     0                 True                    0.0
4                     0                 True                    0.0
...                 ...                  ...                    ...
6825                  0                 True                    0.0
6826                  0                 True                    0.0
6827                  0                 True                    0.0
6828                  0                 True                    0.0
6829                  0                 True                    0.0

[6830 rows x 11 columns]

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

Starbucks

In [79]:
merged_df.name.mode()[0]

'Starbucks'

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

The Tasting Room

In [67]:
merged_df.loc[merged_df['average_cost_for_two'].idxmax(), 'name']

'The Tasting Room'

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

6713

In [76]:

nozip = len(merged_df) - merged_df['zipcode'].count()
print(nozip)

6713

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

0

In [84]:
hasonlinedel = merged_df['has_online_delivery'].sum()
print(hasonlinedel)

0

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

Salcedo

In [86]:
poblacion = merged_df[merged_df['locality'] == 'Poblacion']
salcedo = merged_df[merged_df['locality'] == 'Salcedo Village']

pob_cost = poblacion['average_cost_for_two'].mean()
sal_cost = salcedo['average_cost_for_two'].mean()

print(f'Poblacion food cost: {pob_cost}')
print(f'Salcedo food cost: {sal_cost}')

Poblacion food cost: 898.2142857142857
Salcedo food cost: 989.1025641025641