## Data Structures in Python

*Prepared by:*
**Eduardo Valdez**  
Faculty, Software Technology Department  
College of Computer Studies - De La Salle University

# List

A list is a container of values for **any** data types.

In [2]:
my_list = ['Juan', 'Maria', 'Pedro', 1, True, 3.0]

## Accessing items in list

Take note that indexing in Python is 0-based. Meaning 0 index referst the first value in a list.

In [3]:
my_list[0]

'Juan'

In [4]:
my_list[0:3]

['Juan', 'Maria', 'Pedro']

In [15]:
my_list[-1]

3.0

In [12]:
my_list[-4:-1]

['Pedro', 1, True]

## List Operations

Concatenating Lists

In [16]:
list1 = ['Juan', 'Maria', 'Pedro']
list2 = [1, True, 3.0]
my_list = list1+list2
my_list

['Juan', 'Maria', 'Pedro', 1, True, 3.0]

Updating items

In [18]:
my_list = ['Juan', 'Maria', 'Pedro', 1, True, 3.0]
my_list[0] = 'Dela Cruz'

my_list

['Dela Cruz', 'Maria', 'Pedro', 1, True, 3.0]

Appending items

In [19]:
my_list = ['Juan', 'Maria', 'Pedro', 1, True, 3.0]
my_list.append('Dela Cruz')

my_list

['Juan', 'Maria', 'Pedro', 1, True, 3.0, 'Dela Cruz']

Insert

In [20]:
my_list = ['Juan', 'Maria', 'Pedro', 1, True, 3.0]
my_list.insert(1, 'Dela Cruz')

my_list

['Juan', 'Dela Cruz', 'Maria', 'Pedro', 1, True, 3.0]

Removing an item from the list

In [21]:
my_list = ['Juan', 'Maria', 'Pedro', 1, True, 3.0]
my_list.pop(3)

my_list

['Juan', 'Maria', 'Pedro', True, 3.0]

Nested Lists

In [30]:
list1 = ['Juan', 'Maria', 'Pedro']
list2 = [1, True, 3.0]

my_list = [list1, list2]
my_list[1][1]
print(my_list)

[['Juan', 'Maria', 'Pedro'], [1, True, 3.0]]

## List Comprehension

List comprehension is a more syntactic way of creating a list based on another list.

In [29]:
list1 = [1, 2, 3, 4]
list2 = []

for x in list1:
    if x % 2 == 0:
        list2.append(x)
print(list2)

[2, 4]

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [elem for elem in list1 if elem % 2 == 0]
print(list2)

[2, 4]

## Common List Functions

In [ ]:
unsorted_list = [1,45,7,12, 4, 0, -1, 55]
sorted(unsorted_list)

[-1, 0, 1, 4, 7, 12, 45, 55]

In [ ]:
unsorted_list.sort()
unsorted_list

[-1, 0, 1, 4, 7, 12, 45, 55]

In [ ]:
unsorted_list.reverse()
unsorted_list

[55, 45, 12, 7, 4, 1, 0, -1]

In [ ]:
len(unsorted_list)

8

# Set

A set is a collection which is **unordered**, **immutable**, and **unindexed**. Sets cannot have duplicate items.

In [ ]:
my_set = {1, 2, 3, 4, 5, 6, 7}
my_set

In [ ]:
my_set = set([1, 2, 3, 4, 5, 6, 7])
my_set

{1, 2, 3, 4, 5, 6, 7}

Add

In [ ]:
my_set.add(8)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

Remove

In [ ]:
my_set.remove(8)
my_set

{1, 2, 3, 4, 5, 6, 7}

Join

In [ ]:
set_1 = {1,2,3}
set_2 = {3,4,5}
set_1.union(set_2)

{1, 2, 3, 4, 5}

There other additional functions that you can explore with sets https://www.w3schools.com/python/python_sets_methods.asp

# Tuple

Tuple is a collection of items which is ordered and **unchangeable**.

In [ ]:
my_tuple = ('Dela Cruz', 1, True, 3.0)
my_tuple

('Dela Cruz', 1, True, 3.0)

Indexing

In [ ]:
my_tuple[0]

'Dela Cruz'

Join

In [ ]:
tuple_1 = ('Dela Cruz', 1)
tuple_2 = (True, 3.0)
my_tuple = tuple_1 + tuple_2
my_tuple

('Dela Cruz', 1, True, 3.0)

# Dict

Dictionaries (dict) are used to store data values in key and value pairs.

In [ ]:
student = {
    "fname": "Juan",
    "lname": "Dela Cruz",
    "age": 21,
    "sex": "M"
}

Accessing an item

In [ ]:
print(student["fname"])
print(student.get("age"))
print(student.get("occupation"))

Juan
21
None

Adding an item

In [ ]:
student["degree"] = "BS CS"
print(student)

{'fname': 'Juan', 'lname': 'Dela Cruz', 'age': 21, 'sex': 'M', 'degree': 'BS CS'}

Common functions

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['fname', 'lname', 'age', 'sex'])
dict_values(['Juan', 'Dela Cruz', 21, 'M'])
dict_items([('fname', 'Juan'), ('lname', 'Dela Cruz'), ('age', 21), ('sex', 'M')])

In [ ]:
for key, value in student.items():
    print(key, value)

fname Juan
lname Dela Cruz
age 21
sex M

In [ ]:
for key in student.keys():
    print(key, student[key])

fname Juan
lname Dela Cruz
age 21
sex M

# Graded Exercise

[2.5 points] Write a Python program to find the second largest number in a list. <br>
Sample Input: [10, 23, 5, 3, 1, 99] <br>
Sample Output: 25

In [125]:
list1 = [10, 23, 5, 3, 1 ,99]

list1.sort()

print(list1[-2])

23

Write a Python script to check whether a given key already exists in a dictionary. <br>
Sample Input: d1 = {'a': 1, 'b':2, 'c': 3} key='b' <br>
Sample Output: True <br>

In [124]:
d1 = {
        'a' : 1,
        'b' : 2,
        'c' : 3,
     }

key = 'b'

if [elem for elem in d1 if elem == key]:
    print(True)
else:
    print(False)

True

[2.5 points] Write a Python script that accepts a list of lists and flattens it afterwards.
Sample Input: [[1,2,3], [a,b,c,1]] <br>
Sample Output: [1,2,3,a,b,c,1] <br>

In [123]:
list1 = [1,2,3]
list2 = ['a','b','c',1]

listlist = [list1, list2]

flattenedlistlist = [item for sublist in listlist for item in sublist]

print(flattenedlistlist)

[1, 2, 3, 'a', 'b', 'c', 1]

[2.5 points] Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. <br>
Sample List : ['abc', 'xyz', 'aba', '1221'] <br>
Expected Result : 2

In [122]:
stringlist = ['abc', 'xyz', 'aba', '1221']

x = 0

for string in stringlist:
    if len(string) >= 2 and string[0] == string[-1]:
        x+=1

print(x)

2

[2.5 points] Write a Python program to combine two dictionary adding values for common keys. <br>
d1 = {'a': 100, 'b': 200, 'c':300} <br>
d2 = {'a': 300, 'b': 200, 'd':400} <br>
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [121]:
from collections import Counter

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

result = Counter(d1) + Counter(d2)

print(result)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})